
@font-face{ 
	font-family: 'bernadette-webfont';
    src: url('../font/bernadette-webfont.woff') format('woff');
    src: url('../font/bernadette-webfont.woff2') format('woff2');
    }
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
    --font-color: #282828;
  }
.font-montserrat{
    font-family: 'Montserrat', sans-serif;
}
.font-color-dark{
    color: var(--font-color) !important;
}
.font-bernadette{
    font-family: 'bernadette-webfont';
}
.bg-header{
    background-image: url(../images/gitbreakers-bg-header.png);
    height: 110vh;
}
.gitbreakers-h1{
    font-size: 6rem;
    padding-top: 20%;
}
nav a{
    padding-bottom: 50px;
    font-size: 1.5rem;
}
nav a:hover{
    border-bottom: 10px #f87e47 solid;
    padding-bottom: 50px;
}


/* section notre équipe */

.testimonial {
  background-color: white;
  text-align: center;
  padding: 30px 30px 50px;
  margin: 100px 15px 160px;
  position: relative;
}

.testimonial::before,
.testimonial::after {
  content: "";
  border-top: 40px solid white;
  border-right: 125px solid transparent;
  position: absolute;
  bottom: -40px;
  left: 0;
}

.testimonial::after {
  border-right: none;
  border-left: 125px solid transparent;
  left: auto;
  right: 0;
}

.testimonial .icon {
  display: inline-block;
  font-size: 80px;
  color: #016d9b;
  margin-bottom: 20px;
  opacity: 0.6;
}

.testimonial .description {
  font-size: 14px;
  color: #777;
  text-align: justify;
  margin-bottom: 30px;
  opacity: 0.9;
}

.testimonial .testimonial-content {
  width: 100%;
  left: 0;
  position: absolute;
}

.testimonial .pic {
  display: inline-block;
  border: 10px solid white;
  border-radius: 50%;
  z-index: 1;
  height: 220px;
  width: 220px;
  position: relative;
}

.testimonial .pic img {
  width: 100%;
  height: auto;
}

.testimonial .name {
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  margin: 10px 0 5px 0;
}

.testimonial .title {
  display: block;
  font-size: 14px;
  color: #ffd9b8;
}

.owl-controls {
  margin-top: 20px;
}

.owl-pagination {
  display: flex;
  justify-content: center;
}

.owl-page {
  height: 10px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10%;
}

.owl-page:hover,
.owl-page.active {
  background-color: rgba(255, 255, 255, 0.3);
}

.owl-page:not(first-item) {
  margin-left: 10px;
}

/* FIN section notre équipe */




/* section Articles */

/* FIN section Articles */




/* section carte */

/* FIN section carte */



/* section "Get in touch" (logos reseaux sociaux) */

/* FIN section "Get in touch" (logos reseaux sociaux) */



/* section footer */

/* FIN section footer */