/* Header */
@font-face{ 
	font-family: 'bernadette-webfont';
    src: url('../font/bernadette-webfont.woff') format('woff');
    src: url('../font/bernadette-webfont.woff2') format('woff2');
    }
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


:root {
    --font-color: #282828;
}
.font-montserrat{
    font-family: 'Montserrat', sans-serif;
}
.font-color-dark{
    color: var(--font-color) !important;
}
.font-bernadette{
    font-family: 'bernadette-webfont';
}
.bg-header{
    background-image: url(../images/gitbreakers-bg-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}
.bg-automotive{
    background-image: url(../images/auto-mockup.png);
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 100%;
}
.bg-dashboard{
    background-image: url(../images/dashboard-mockup.png);
    background-position: center;
    background-size: contain;
    height: 150px;
    width: 100%;
}
.bg-king-burger{
    background-image: url(../images/king-burger.png);
    background-position: center;
    background-size: contain;
    height: 150px;
    width: 100%;
}
.gitbreakers-h1{
    font-size: 6rem;
    padding-top: 20%;
    padding-bottom: 30%;
}
.btn-primary {
    border-radius: 40px;
    border: 0px;
    transition: all 0.3s ease 0s;
    background: rgb(248,126,71);
    background: linear-gradient(90deg, rgba(248,126,71,1) 0%, rgba(52,58,64,1) 50%, rgba(74,84,148,1) 100%);
}
.radius-border{
    border-radius: 10px;
}
.radius-border-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.no-gutter{
    padding-left: 0;
    padding-right: 0;
}
.nav-hover{
    padding-bottom: 50px;
    font-size: 1.5rem;
}
.nav-hover:hover{
    border-bottom: 10px #f87e47 solid;
    padding-bottom: 33px;
}
/* fin header */



/* section notre équipe */

/* FIN section notre équipe */




/* section Articles */
.pt-10{
    padding-top: 20rem;
}

.pb-120px{
    padding-bottom: 120px;
}

.pt-120px{
    padding-top: 120px;
}
/* FIN section Articles */




/* section carte */

/* FIN section carte */



/* section "Get in touch" (logos reseaux sociaux) */
.getintouch{
    height: 400px;
    background: linear-gradient(90deg, #de813c, #de813c 30%, #3f519a 80%, #3f519a);
}
.title-getintouch{
    font-size: 2rem;
}
.social-media{
    width: 80px;
    height: 80px;
}
.social-media:hover, .social-media:focus{
    transform: rotateY(360deg);
    transform-style: preserve-3d;
    transition: all 2s linear;
}


/* FIN section "Get in touch" (logos reseaux sociaux) */



/* section footer */
.footer-email::before{
    content: url("../images/icon-lettre.png");
    position: absolute;
    left: -70px;
    top: 15px;
}

.footer-telephone::before{
    content: url("../images/icon-telephone.png");
    position: absolute;
    left: -50px;
    top: 10px;
}

.footer-adresse::before{
    content: url("../images/icon-adresse.png");
    position: absolute;
    left: -50px;
    top: 10px;
}
/* FIN section footer */