/* Header */
@font-face{ 
	font-family: 'bernadette-webfont';
    src: url('../font/bernadette-webfont.woff') format('woff');
    src: url('../font/bernadette-webfont.woff2') format('woff2');
    }
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
    --font-color: #282828;
}
.font-montserrat{
    font-family: 'Montserrat', sans-serif;
}
.font-color-dark{
    color: var(--font-color) !important;
}
.font-bernadette{
    font-family: 'bernadette-webfont';
}
.bg-header{
    background-image: url(../images/gitbreakers-bg-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
}
.bg-automotive{
    background-image: url(../images/auto-mockup.png);
    background-position: center;
    background-size: cover;
    height: 150px;
    width: 100%;
}
.bg-dashboard{
    background-image: url(../images/dashboard-mockup.png);
    background-position: center;
    background-size: contain;
    height: 150px;
    width: 100%;
}
.bg-king-burger{
    background-image: url(../images/king-burger.png);
    background-position: center;
    background-size: contain;
    height: 150px;
    width: 100%;
}
.gitbreakers-h1{
    font-size: 6rem;
    padding-top: 20%;
    padding-bottom: 30%;
}
.btn-primary {
    border-radius: 40px;
    border: 0px;
    transition: all 0.3s ease 0s;
    background: rgb(248,126,71);
    background: linear-gradient(90deg, rgba(248,126,71,1) 0%, rgba(52,58,64,1) 50%, rgba(74,84,148,1) 100%);
}
.radius-border{
    border-radius: 10px;
}
.radius-border-top{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.no-gutter{
    padding-left: 0;
    padding-right: 0;
}
.nav-hover{
    padding-bottom: 50px;
    font-size: 1.5rem;
}
.nav-hover:hover{
    border-bottom: 10px #f87e47 solid;
    padding-bottom: 33px;
}
/* fin header */



/* section notre équipe */

/* FIN section notre équipe */




/* section Articles */

/* FIN section Articles */




/* section carte */

/* FIN section carte */



/* section "Get in touch" (logos reseaux sociaux) */
/* Color Variables */
/* Social Icon Mixin */
/* Social Icons */
.bg-facebook{
    background-image: url(../images/facebook-f-brands.svg);
}
.social-icons {
    display: -webkit-box;
    display: flex;
  }
  
  .social-icon {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 2.5rem;
    text-decoration: none;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
  }
  .social-icon:hover {
    color: #fff;
  }
  .social-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(-50%, -150%);
            transform: translate(-50%, -150%);
  }
  .social-icon:active {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset;
  }
  .social-icon--linkedin {
    background: #006599;
    color: #fff;
  }
  .social-icon--linkedin .tooltip {
    background: #006599;
    color: currentColor;
  }
  .social-icon--linkedin .tooltip:after {
    border-top-color: #006599;
  }
  .social-icon--twitter {
    background: #2b97f1;
    color: #fff;
  }
  .social-icon--twitter .tooltip {
    background: #2b97f1;
    color: currentColor;
  }
  .social-icon--twitter .tooltip:after {
    border-top-color: #2b97f1;
  }
  .social-icon--codepen {
    background: transparent;
    color: #fff;
  }
  .social-icon--codepen .tooltip {
    background: #000;
    color: currentColor;
  }
  .social-icon--codepen .tooltip:after {
    border-top-color: #000;
  }
  .social-icon--facebook {
    background: #3b5a9b;
    color: #fff;
  }
  .social-icon--facebook .tooltip {
    background: #3b5a9b;
    color: currentColor;
  }
  .social-icon--facebook .tooltip:after {
    border-top-color: #3b5a9b;
  }
  .social-icon--instagram {
    background: #527fa6;
    color: #fff;
  }
  .social-icon--instagram .tooltip {
    background: #527fa6;
    color: currentColor;
  }
  .social-icon--instagram .tooltip:after {
    border-top-color: #527fa6;
  }
  .social-icon--dribbble {
    background: #ef5a92;
    color: #fff;
  }
  .social-icon--dribbble .tooltip {
    background: #ef5a92;
    color: currentColor;
  }
  .social-icon--dribbble .tooltip:after {
    border-top-color: #ef5a92;
  }
  .social-icon--github {
    background: #4284c0;
    color: #fff;
  }
  .social-icon--github .tooltip {
    background: #4284c0;
    color: currentColor;
  }
  .social-icon--github .tooltip:after {
    border-top-color: #4284c0;
  }
  .social-icon i {
    position: relative;
    top: 1px;
  }
  
  /* Tooltips */
  .tooltip {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0.8rem 1rem;
    border-radius: 40px;
    font-size: 0.8rem;
    font-weight: bold;
    opacity: 0;
    pointer-events: none;
    text-transform: uppercase;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1;
  }
  .tooltip:after {
    display: block;
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 0;
    height: 0;
    content: "";
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    -webkit-transform: translate(-50%, 100%);
            transform: translate(-50%, 100%);
  }
/* FIN section "Get in touch" (logos reseaux sociaux) */



/* section footer */

/* FIN section footer */